{% extends 'admin/change_list.html' %}

{% block object-tools %}
<div>
  <p>выберите файлы для импорта</p>  
  <form action="tocsv/" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="tocsv">
    <button type="submit">tocsv</button>
  </form>
  <form action="tojson/" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="tojson" id="tojson">
    <button type="submit">tojson</button>
  </form>
</div>
<br />
{{ block.super }}
{% endblock %}
